* {
	margin: 0; 
	padding: 0; 
	outline: 0;
}

body {
	font: normal 12px/1 'Lato', sans-serif; 
	color: #353535; 
	background:#ffffff;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
a {
	font-family: 'Lato';
}

p {	
	line-height: 1.5;
}

a {	
	color: #3e3e3e;
}
a:focus, 
a:hover {
	outline: none; 
	color: #ffffff; 
	text-decoration: none;
}
.nav>li>a:focus, 
.nav>li>a:hover {
	background: transparent;
}

.hidden{
	opacity:0;
}
.visible{
	opacity:1;
}
.btn-primary {
	border: none; 
	background: #76a74b; 
	color: #ffffff; 
	font-weight: 700;
	text-transform: uppercase; 
}
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:active:focus {
	background-color: #76a74b; 
	outline: none;
}
.clear {
	clear: both;
}
.row {
	margin: 0;
}
.wrap {	
	position: relative;
	width: 100%; 	
	padding: 0;
	z-index: 10;  
}
.section { 
	position: relative;	
	width: 100%;	
	padding: 0 0 20px 0;
	z-index: 10;
}
.inner { 
	position: relative;	
	max-width: 1150px;	
	min-height: 50px; 
	margin: 0 auto;	
	padding:30px 0; 
	font-size: 18px; 
	font-weight: 300;
	font-family: 'Open Sans', sans-serif; 
}
.inner:after { 
	content: "";  
	display: table; 
	clear: both;
}
.subNavBtn {
	color: #fff;
	font-size: 13px; 
	font-weight: 700;
}

.active {
	width: 100%;
	background: #25aae1; 
}
.end {
	margin: 0;
}
.txt-green {
	color: #76a74b;
}
.title {
	font-weight: 900;
}
.sub-title {
	font-weight: 700;
}
.description {
	padding: 5px;
	color: #353535;
	font-size: 16px; 
	line-height: 1.5; 
}
.author-line {
	color: #c85433;
	font-size: 18px; 
	font-style: italic; 
	font-weight: 700;
}
.author-names {
	color: #949494;
	font-style: italic; 
	font-weight: 700;
}

/* SECTIONS */
.menu {
	height: 75px;
	width: 100%;
	padding: 10px 20px;
	background: #000; 
	z-index: 1000;
}
.menu .inner {
	margin: 0 auto;
	padding:0;	
	font-weight: 400; 
}
.menu .subNavBtn:hover{
	background: #337ab7;

}
.logo {
	margin-top: 15px;
}
.menu .main-menu {
	text-align: center; 
	text-transform: uppercase;
}
.menu .btn.btn-primary{
	position: absolute; 
	top: 0; 
	right: 0; 
	padding: 10px 25px;
	font-size: 12px;
}
.menu .btn-primary:hover{
	background: #76a74b;
}
.menu .navbar-nav>li{
	float: none; 
	display: inline-block;
}
.menu .navbar-nav {
	float: none;
}
/*Home Content*/
.home-content-overview {
	position: relative; 
	height: 765px; 
	min-height: 130px; 
	padding: 50px 0;
	color: #ffffff; 	
	background: url(../images/home-bg.jpg) center;
}
.home-content-overview a {
	color: #fff;
}
.overview-btm-left {
	position: absolute; 
	bottom: -185px; 
	left: 115px;
}
.overview-btm-right {
	position: absolute; 
	max-width: 315px; 
	bottom: 20px; 
	right: 115px;
}
.overview-btm-right h4{
	color: #c5c5c5;
}
.home-content-intro {
	text-align: center;
}
.home-content-intro h6 {
	font-weight: 700;
	text-transform: uppercase;  
	letter-spacing: 2px;
}
.home-content-intro img {
	margin: 0 auto;
}
.home-content-intro small {
	display: block;
	font-size: 14px;
}
.home-content-intro .inner{
	padding: 0 20px;
}
.home-content-intro .btn {
	margin: 42px; 
	padding: 10px 75px; 
	font-size: 20px; 
	font-weight: bold; 
	text-transform: capitalize; 
}
.home-content-intro p {
	max-width: 970px; 
	margin: 54px auto;
	padding: 40px 20px;  
	font-size: 22px;
	font-weight: 400;
	line-height: 1.7; 
}
.home-content-intro .sub-title {
	margin: 70px 0 30px;
	font-size: 20px; 
}

.author-content {
	float: left;
}
.author-content .author-line{
	font-size: 20px;
}
.intro-columns .author-content {
	text-align: center; 
	float: none; 
	padding: 125px 0;
}
.intro-columns h5 {
	color: #252525;
	font-size: 16px;
	line-height: 1.5;
}
.intro-columns .author-names{
	color: #949494;
	font-weight: 700;
}
.home-content-benefits .author-content {
	padding: 100px 0;
}
.home-content-benefits .author-content,
.home-content-reviews .author-content{
	float: none;
	font-size: 18px;
}
.home-content-benefits .row div:first-child {
	padding: 0;
}
.home-content-benefits .col-md-5 {
	padding: 0;
}
.home-benefits-right .sub-title {
	margin: 30px 0;
	font-size: 30px;  
}
.home-benefits-right strong {
	font-weight: 700;
}
.home-benefits-right p {
	font-size: 16px; 
}
.home-benefits-right .desc {
	margin: 45px 0;
	line-height: 2.0;
}
.guide p{
	display: inline;
}
.home-benefits-right .guide img {
	padding: 10px 35px; 
	padding-right: 20px;
}
.home-benefits-right h5 {
	font-size: 16px;
}
.home-content-reviews {
	background: #f8f7f7;
}
.home-content-reviews p {
	padding: 55px 0;
	font-weight: 400;
}
.home-content-reviews .inner {
	padding: 100px 20px;
}
.home-content-reviews h4{
	font-weight: 300;
}
.home-content-reviews .author-content {
	padding: 25px 0;
}
.home-content-reviews .btn {
	padding: 17px 30px;
	font-size: 16px; 
}
.reviews-mdl h5 {
	line-height: 1.5;
}
.reviews-mdl .col-sm-6 {
	padding: 35px 0;
}
.reviews-btm {
	padding: 100px 0;
}
.reviews-btm strong {
	margin-right: 50px;
}
.section.home-content-reviews{
	padding: 0;
}
.download {
	padding: 115px 20px;
	color: #fff; 
	background: url(../images/author-bg.jpg) center; 
}
.download div {
	max-width: 785px; 
	margin: 0 auto;
}
.download-top {
	font-size: 30px; 
	font-weight: 700;
}
.home-content-reviews .download-mdl {
	padding: 60px 0; 
	font-weight: 400;
	line-height: 1.5;
}
.carousel {
	width: 200px; 
	margin: 0 auto;
	padding: 50px 0; 
}
.carousel-inner img {
	margin: 0 auto;
}
.carousel-inner .active {
	background: transparent;
}
.carousel-indicators {
	bottom: 10px;
}
.carousel-indicators li{
	height: 6px; 
	width: 6px; 
	background: #cccccc;
}
.carousel-indicators li.active {
	height: 6px;
	width: 6px; 
	background: #669933; 
}
.home-content-author {
	text-align: center;
}
.home-content-author .inner{
	padding: 190px 20px;
}
.content-author-top h1 {
	font-size: 46px; 
	font-weight: 900;
}
.sword img{
	width: 100%;
}
.content-author-top h3 {
	font-size: 22px; 
	font-weight: 300;
}
.content-author-mdl h3 {
	font-weight: 900; 
}
.content-author-mdl p {
	padding: 50px 0; 
	font-weight: 400;
	line-height: 1.5;
}
.content-author-btm h4 {
	font-size: 20px;
}
.content-author-btm .btn{
	padding: 15px 112px
}
.download .btn {
	padding: 15px 220px;
}

@media (max-width: 1200px) {
	.overview-btm-left {
		left: 	30px;
	}
	.overview-btm-right {
		max-width: 290px;
		right: 45px;
	}
}
@media (max-width: 991px){
	.overview-btm-left {
		bottom: -100px;
		left: 20px; 
		max-width: 190px; 
	}
	.overview-btm-right {
		right: 20px; 
		bottom: 0;
		max-width: 195px; 
	}
	.home-content-reviews .txt-green {
		display: block;
	}
	.home-content-benefits {
		padding: 0 50px;
	}
	.home-benefits-left {
		display: none;
	}
}

@media (max-width: 768px){
	.menu .navbar-nav {
		margin-right: 60px;
	}
	.menu .nav>li>a {
		padding: 15px 8px;
	}
	.navbar-nav {
		float: left;
	}
	.menu .fa-bars{
		font-size: 25px;
	}
	.menu .navbar-toggle.collapsed{
		position: absolute; 
		top: 0;
		left: 50%; 
		margin: 0;
		padding:0;
		color: #fff; 
	}
	.home-content-reviews {
		text-align: center;
	}
	.content-author-btm .btn, 
	.download .btn { 
		margin: 0;
	}
}

@media (max-width: 480px){
	.menu .navbar-toggle.collapsed {
		left: 90%;
		margin: 20px 0 0;
	}
	.navbar-toggle {
		margin-right: 5px;
		padding: 9px 0;
	}
	.menu .navbar-nav {
		margin-right: 0;
	}
	.menu .navbar-nav>li{
		display: block;
		background: rgba(0,0,0,.5);
		z-index: 999;
	}
	.subNavBtn {
		z-index: 999;
	}
	.menu .fa-bars{
		font-size: 25px;
	}
	.menu .btn.btn-primary {
		display: none;
	}
	.overview-btm-left {
		top: 250px;
	}
	.overview-btm-left img {
		height: 200px;
	}
	.overview-btm-right {
		max-width: 280px;
		height: 180px;
		bottom: 145px;
		background: rgba(0,0,0,.5);
		padding: 0 25px;
	}
	.overview-btm-right h3 {
		font-size: 18px;
		margin: 15px 0;
		text-align: center;
	}
	.overview-btm-right h4 {
		text-align: center;
	}
	.home-content-intro .btn {
		margin: 10px 0;
	}
	.home-content-intro p {
		font-size: 16px;
	}
	.author-content {
		float: none;
	}
	.intro-columns img {
		margin: 50px auto 0px;
	}
	.home-content-intro .sub-title {
		margin: 30px 0;
		font-size: 16px;
	}
	.intro-columns .author-content {
		padding: 50px 0;
	}
	.home-content-benefits {
		padding: 0 10px;
	}
	.home-benefits-right .sub-title {
		font-size: 20px;
		text-align: center;
	}
	.guide {
		padding-left: 30px;
	}
	.home-benefits-right .guide img {
		padding: 0;
		padding-right: 15px;
	}
	.home-benefits-right .desc {
		text-align: center;
	}
	.author-content .author-line{
		font-size: 18px;
	}
	.home-content-benefits .author-content {
		padding: 50px 0;
	}
	.home-content-reviews .inner {
		padding: 50px 20px;
	}
	.home-content-reviews .title {
		font-size: 30px;
		margin: 20px 0;
	}
	.reviews-mdl .col-sm-6 {
		padding: 15px 0;
	}
	.reviews-mdl img {
		margin: 20px 0;
	}
	.reviews-btm {
		padding: 50px 0;
	}
	.reviews-btm strong {
		font-size: 16px;
	}
	.home-content-reviews .btn {
		display: block;
		margin: 10px 0;
	}
	.download {
		padding: 50px 10px;
	}
	.download-top {
		font-size: 26px;
	}
	.download .btn {
		padding: 17px 30px;
	}
	.content-author-btm .btn, 
	.download .btn {
		margin: 0 auto;
		font-size: 12px;
	}
	.home-content-author .inner {
		padding: 50px 20px;
	}
	.content-author-top h1 {
		font-size: 30px;
	}
	.content-author-mdl p {
		padding: 25px 0;
	}
	.content-author-btm h4 {
		font-size: 16px;
	}
	.content-author-btm .btn {
		padding: 15px;
	}
}